%form{ :action => "/configurate", :method => "POST" }
  %table.form
    - c = Melaknowma::Crowd.configuration
    - for job in Melaknowma::Crowd::JOBS
      %tr
        %th= job
        %td
          %input{ :name => job, :type => "text", :class => "full text", :value => c[job] }
    %tr.submit
      %td{ :colspan => 2 }
        %input{ :type => "submit", :value => "Save", :class => "green button" }

%a{:href => "/ensure_webhook"} Ensure Webhooks
