%div{:style => "padding-left:90px;"}
  %form{:action => "/upload", :enctype => "multipart/form-data", :method => "post"}
    %input{:type => "file", :name => "image_mole"}
    %input{:type => "submit", :value => "Send"}
